[
  {name: SEED_PROD, default: false},
  {name: DATABASE_URI, default: "postgres://seed:toto@localhost/seed_dev"},
  {name: KEMAL_ENV, default: 'development'},
  {name: SEED_SECRET, default: 'toto4242'},
]
